.text-field-container,
.text-area-container {
  padding: 7px 0;

  .text-field-wrapper,
  .text-area-wrapper {
    // margin: 7px 0;
    position: relative;

    input,
    textarea {
      width: 100%;
      padding: 10px 15px;
      position: relative;
      z-index: 100;
      background-color: transparent !important;
      border-radius: 3px;
      border: solid 1px black;

      &:focus {
        outline: none;
        border: solid 1px var(--orange);
      }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      background-color: white !important;
      -webkit-box-shadow: 0 0 0px 1000px white inset !important;
      box-shadow: 0 0 0px 1000px white inset !important;
      -webkit-text-fill-color: inherit !important; // Keeps text color unchanged
      transition: background-color 5000s ease-in-out 0s; // Prevents autofill styling
    }

    input:focus + .text-field-placeholder-container-inactive,
    textarea:focus ~ .text-area-placeholder-container-inactive,
    input:focus + .text-field-placeholder-container-active,
    textarea:focus ~ .text-area-placeholder-container-active {
      color: var(--orange);
      font-size: 12px;

      z-index: 101;
      top: 0;
    }

    .text-field-placeholder-container-active,
    .text-area-placeholder-container-active,
    .text-field-placeholder-container-inactive,
    .text-area-placeholder-container-inactive {
      margin-left: 8px;
      padding: 3px 7px 0;
      position: absolute;
      transform: translateY(-50%);
      background-color: white;
      z-index: 99;
      transition: 0.2s ease;
    }

    .no-label {
      padding: 0 !important;
    }

    .text-field-placeholder-container-inactive {
      top: 50%;
    }

    .text-area-placeholder-container-inactive {
      top: 10%;
    }

    .text-field-placeholder-container-active,
    .text-area-placeholder-container-active {
      font-size: 12px;
      z-index: 101;
      top: 0;
    }
  }
}

.text-field-wrapper.with-peso {
  position: relative;

  .peso-symbol {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #444;
    z-index: 102;
    pointer-events: none;
  }

  input {
    padding-left: 28px; // make room for ₱
    text-align: right; // align number to the right
  }
}
