.not-found-page-container {
  .not-found-page-image-container {
    max-width: 200px;
    margin: auto;
    margin-bottom: -25px;
    position: relative;
  }

  .not-found-page-wrapper {
    text-align: center;
  }
}
